In [3]:
import pandas as pd
import geopy.distance

/Users/dhkim/PycharmProjects/untitled/venv/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

11.089170659235641

<ipython-input-4-c402b5a99461>:1: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

In [12]:
mac_edit = pd.read_csv('data/new2_2020-06-24_16_59_맥드라이브.csv', sep='\t')
mac_edit = mac_edit.drop('Unnamed: 0', axis=1)
mac_edit = mac_edit[['mac_name', 'latitude', 'longitude']]
mac_edit['SORT'] = '맥도날드'
mac_edit

              mac_name   latitude   longitude  SORT
0           맥도날드 양평SK점  37.530980  126.893343  맥도날드
1         맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2            맥도날드 고척DT  37.497228  126.863535  맥도날드
3           맥도날드 염창DT점  37.552891  126.870164  맥도날드
4           맥도날드 서초GS점  37.486421  127.009869  맥도날드
..                 ...        ...         ...   ...
211       맥도날드 제주시청DT점  33.481468  126.541146  맥도날드
212       맥도날드 제주공항DT점  33.495155  126.492695  맥도날드
213        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
214      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
215  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드

[216 rows x 4 columns]

In [5]:
loc_info = pd.read_excel('/Users/dhkim/PycharmProjects/kakomap_crwal/data/ST_MAC_DT.xlsx', sep='\t')
loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
loc_info_star = loc_info[loc_info.SORT == '스타벅스']
loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

In [35]:
loc_info_new = pd.concat([mac_edit, loc_info_star]).reset_index().drop('index', axis=1)
loc_info_new.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/ST_MAC2_DT.csv', sep='\t')

In [17]:
loc_info_new

          mac_name   latitude   longitude  SORT
0       맥도날드 양평SK점  37.530980  126.893343  맥도날드
1     맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2        맥도날드 고척DT  37.497228  126.863535  맥도날드
3       맥도날드 염창DT점  37.552891  126.870164  맥도날드
4       맥도날드 서초GS점  37.486421  127.009869  맥도날드
..             ...        ...         ...   ...
465   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
466    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
467     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
468    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
469  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[470 rows x 4 columns]

In [22]:
loc_info_mac = loc_info_new[loc_info_new.SORT == '맥도날드']
loc_info_star = loc_info_new[loc_info_new.SORT == '스타벅스']

In [24]:
loc_info_mac

              mac_name   latitude   longitude  SORT
0           맥도날드 양평SK점  37.530980  126.893343  맥도날드
1         맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2            맥도날드 고척DT  37.497228  126.863535  맥도날드
3           맥도날드 염창DT점  37.552891  126.870164  맥도날드
4           맥도날드 서초GS점  37.486421  127.009869  맥도날드
..                 ...        ...         ...   ...
211       맥도날드 제주시청DT점  33.481468  126.541146  맥도날드
212       맥도날드 제주공항DT점  33.495155  126.492695  맥도날드
213        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
214      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
215  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드

[216 rows x 4 columns]

In [25]:
loc_info_star = loc_info_star.reset_index().drop('index', axis=1)
loc_info_star

          mac_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [26]:

def get_distances_with_st(mac_df, star_df):
    rows = []
    for j in range(mac_df.shape[0]):
        mac_name = mac_df.loc[j].mac_name
        coord1 = (mac_df.loc[j].latitude, mac_df.loc[j].longitude)
        for i in range(star_df.shape[0]):
            star_name = star_df.loc[i].mac_name
            coord2 = (star_df.loc[i].latitude, star_df.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                'mac_name' : mac_name,
                'star_name' : star_name,
                'distance' : distance
                }
            rows.append(row)
    return rows

In [27]:
rows = get_distances_with_st(loc_info_mac, loc_info_star)

<ipython-input-26-cd961e17d962>:9: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [28]:
mac_star_distance = pd.DataFrame(rows)
mac_star_distance

                mac_name      star_name    distance
0             맥도날드 양평SK점    스타벅스 울산신정DT  309.836061
1             맥도날드 양평SK점   스타벅스 경주보문로DT  282.343907
2             맥도날드 양평SK점     스타벅스 동수원DT   30.707365
3             맥도날드 양평SK점     스타벅스 서귀포DT  476.314033
4             맥도날드 양평SK점   스타벅스 구미금오산DT  201.790501
...                  ...            ...         ...
54859  맥도날드 제주월드컵스타디움DT점   스타벅스 목포터미널DT  172.114648
54860  맥도날드 제주월드컵스타디움DT점    스타벅스 마산회원DT  293.601200
54861  맥도날드 제주월드컵스타디움DT점     스타벅스 평촌역DT  461.655898
54862  맥도날드 제주월드컵스타디움DT점    스타벅스 시흥대야DT  465.488437
54863  맥도날드 제주월드컵스타디움DT점  스타벅스 수원경수인계DT  448.089152

[54864 rows x 3 columns]

In [29]:
mac_star_distance['mac_name'].unique().shape

(216,)

In [30]:
mac_star_distance[mac_star_distance['mac_name']=='맥도날드 부산엄궁DT점']['distance'].argmin()

81

In [31]:
def find_mindist_starbucks(each_mac_df):
    new_df = {}
    each_mac_df = each_mac_df.reset_index(drop=True)
    new_df['distance'] = each_mac_df['distance'].min()
    new_df['star_name'] = each_mac_df.loc[each_mac_df['distance'].argmin()]['star_name']

    return pd.Series(new_df, index=['star_name', 'distance'])

In [32]:
mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
mac_star_distance3 = mac_star_distance2.reset_index()

In [33]:
mac_star_distance3

         mac_name      star_name   distance
0      맥도날드 가락DT점    스타벅스 송파방이DT   1.580628
1    맥도날드 강남삼성DT점      스타벅스 구의DT   5.207358
2    맥도날드 경주보문DT점   스타벅스 경주보문로DT   0.937271
3    맥도날드 경주용강DT점   스타벅스 경주터미널DT   3.931237
4    맥도날드 경주황남DT점   스타벅스 경주터미널DT   0.160485
..            ...            ...        ...
211  맥도날드 포항장성DT점    스타벅스 포항장성DT   0.067776
212  맥도날드 하남시청DT점    스타벅스 하남미사DT   3.336015
213   맥도날드 해운대DT점  스타벅스 해운대달맞이DT   1.143940
214  맥도날드 화성봉담DT점    스타벅스 수원권선DT   2.669242
215  맥도날드 화성향남DT점    스타벅스 오산갈곶DT  13.820364

[216 rows x 3 columns]

In [34]:
mac_star_distance3.to_csv('mac_star_distance.csv', sep='\t')