In [119]:
import pandas as pd
import geopy.distance

In [120]:
print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

11.089170659235641

<ipython-input-120-c402b5a99461>:1: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

In [121]:
loc_info = pd.read_excel('/Users/dhkim/PycharmProjects/kakomap_crwal/data/ST_MAC_DT.xlsx', sep='\t')
loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
loc_info_star = loc_info[loc_info.SORT == '스타벅스']
loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

In [122]:
loc_info_mac = loc_info_mac.drop_duplicates().reset_index(drop=True)
loc_info_mac

              mac_name   latitude   longitude  SORT
0        맥도날드 부천역곡역DT점  37.483736  126.781193  맥도날드
1         맥도날드 부천원종DT점  37.522805  126.803270  맥도날드
2         맥도날드 송파잠실DT점  37.504361  127.077050  맥도날드
3           맥도날드 중동DT점  37.502168  126.774171  맥도날드
4         맥도날드 서울번동DT점  37.621142  127.045245  맥도날드
..                 ...        ...         ...   ...
117        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
118      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
119  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드
120       맥도날드 목포하당DT점  35.511152  129.423479  맥도날드
121       맥도날드 부산엄궁DT점  35.128014  128.969062  맥도날드

[122 rows x 4 columns]

In [123]:
loc_info_star

          mac_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [124]:
loc_info_mac

              mac_name   latitude   longitude  SORT
0        맥도날드 부천역곡역DT점  37.483736  126.781193  맥도날드
1         맥도날드 부천원종DT점  37.522805  126.803270  맥도날드
2         맥도날드 송파잠실DT점  37.504361  127.077050  맥도날드
3           맥도날드 중동DT점  37.502168  126.774171  맥도날드
4         맥도날드 서울번동DT점  37.621142  127.045245  맥도날드
..                 ...        ...         ...   ...
117        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
118      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
119  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드
120       맥도날드 목포하당DT점  35.511152  129.423479  맥도날드
121       맥도날드 부산엄궁DT점  35.128014  128.969062  맥도날드

[122 rows x 4 columns]

In [125]:

def get_distances_with_st(mac_df, star_df):
    rows = []
    for j in range(mac_df.shape[0]):
        mac_name = mac_df.loc[j].mac_name
        coord1 = (mac_df.loc[j].latitude, mac_df.loc[j].longitude)
        for i in range(star_df.shape[0]):
            star_name = star_df.loc[i].mac_name
            coord2 = (star_df.loc[i].latitude, star_df.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                'mac_name' : mac_name,
                'star_name' : star_name,
                'distance' : distance
                }
            rows.append(row)
    return rows

In [126]:
rows = get_distances_with_st(loc_info_mac, loc_info_star)

<ipython-input-125-cd961e17d962>:9: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [127]:
mac_star_distance = pd.DataFrame(rows)
mac_star_distance

            mac_name      star_name    distance
0      맥도날드 부천역곡역DT점    스타벅스 울산신정DT  313.397948
1      맥도날드 부천역곡역DT점   스타벅스 경주보문로DT  286.667572
2      맥도날드 부천역곡역DT점     스타벅스 동수원DT   31.967617
3      맥도날드 부천역곡역DT점     스타벅스 서귀포DT  470.436072
4      맥도날드 부천역곡역DT점   스타벅스 구미금오산DT  204.382382
...              ...            ...         ...
30983   맥도날드 부산엄궁DT점   스타벅스 목포터미널DT  235.704048
30984   맥도날드 부산엄궁DT점    스타벅스 마산회원DT   37.388710
30985   맥도날드 부산엄궁DT점     스타벅스 평촌역DT  309.253472
30986   맥도날드 부산엄궁DT점    스타벅스 시흥대야DT  322.986274
30987   맥도날드 부산엄궁DT점  스타벅스 수원경수인계DT  294.704371

[30988 rows x 3 columns]

In [128]:
mac_star_distance['mac_name'].unique().shape

(120,)

In [129]:
mac_star_distance[mac_star_distance['mac_name']=='맥도날드 부산엄궁DT점']['distance'].argmin()

81

In [130]:
def find_mindist_starbucks(each_mac_df):
    new_df = {}
    each_mac_df = each_mac_df.reset_index(drop=True)
    new_df['distance'] = each_mac_df['distance'].min()
    new_df['star_name'] = each_mac_df.loc[each_mac_df['distance'].argmin()]['star_name']

    return pd.Series(new_df, index=['star_name', 'distance'])

In [131]:
mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
mac_star_distance3 = mac_star_distance2.reset_index()

In [132]:
mac_star_distance3

         mac_name      star_name  distance
0      맥도날드 가락DT점    스타벅스 송파방이DT  1.580628
1    맥도날드 경주보문DT점   스타벅스 경주보문로DT  0.937271
2    맥도날드 경주용강DT점   스타벅스 경주터미널DT  3.931237
3    맥도날드 경주황남DT점   스타벅스 경주터미널DT  0.160485
4      맥도날드 고양DT점      스타벅스 고양DT  0.757142
..            ...            ...       ...
115  맥도날드 포항남부DT점    스타벅스 포항죽도DT  0.017410
116  맥도날드 포항북부DT점    스타벅스 포항장성DT  2.112935
117  맥도날드 포항장성DT점    스타벅스 포항장성DT  0.067776
118  맥도날드 하남시청DT점    스타벅스 하남미사DT  3.336015
119   맥도날드 해운대DT점  스타벅스 해운대달맞이DT  1.143940

[120 rows x 3 columns]

In [133]:
mac_star_distance3.to_csv('mac_star_distance.csv', sep='\t')